body {
    margin: 0;
    padding: 5% 10%;
    color: #fff;
    background: #272727;
}

h2,h3, p {
    font-weight: 400;
    margin: 0;
}
.main{
    display: flex;
    margin-top: 10%;
    background: linear-gradient(70deg, blue, pink);
    flex-flow: row wrap ;
    justify-content: center;
}

.main_title{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5%;
    margin-left: 5%;
    width: 100%;
    height: 100%;
}
.main_subtitle{
    margin-left: 5%;
    width: 100%;
}
.line_break{
    width: 100%;
    height: 60px;
}
ul{
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.input-element{
    width:auto;
    height: 25px;
    margin-left: 20%;
    position: static;
}
.input-email{
    height: 25px;
    width: 43.8%;
    margin-left: 20%;
    position: static;
}
.message_subject{
    margin-left: 17.4%;
    height: 25px;
    width: 200px;
    position: static;
}
.message{
margin-left: 21%;
}
.name_box{
    display: flex;
    width: 100%;
}
.email_box{
    display: flex;
    width: 100%;
}
.message_box{
    display: flex;
    width: 100%;
}
.line_void{
    height: 60px;
}
button{
    width: 10%;
    padding: 10px;
    min-width: 300px;
    cursor: pointer;
    align-self: center;
    border: 1px solid #fff;
    border-radius: 10px;
    background: transparent;
    font: inherit;
    color: #fff;
}
.space{
    height: 90px;
}
/* планшеты горизонтально */
@media (min-width: 992px) and (max-width: 1199px) {
 .main{
    width: 100%;
 }
 .name_box{
    width: 100%;
}
.email_box{
    width: 100%;
}
.message_box{
    width: 100%;
}
}

/* планшеты вертикально */
@media (min-width: 768px) and (max-width: 991px) {
    .main{
        width: 100%;
        display: flex;
        height: 100%;
    }
    .name_box{
        width: 100%;
        display: flex;
    }
    .email_box{
        width: 100%;
        display: flex;
    }
    .message_box{
        width: 100%;
        display: flex;
    }
    .input-element{
        position: static;
        margin-left: 5%;
        width: 30%;
    }
    .input-email{
        position: static;
        width: 66.5%;
        margin-left:5%;
    }
    .message_subject{
        position: static;
        margin-left: 5%;
        width: 30%;
    }
    label{
        margin-left: 0;
    }
    .message{
        margin-left: 7%;
        width: 70%;
    }
}

/* телефоны горизонтально */
@media (max-width: 767px) {
    .main{
        width: 100%;
        display: flex;
    }
    .name_box{
        width: 100%;
        display: flex;
    }
    .email_box{
        width: 100%;
        display: flex;
    }
    .message_box{
        width: 100%;
        display: flex;
    }
    .input-element{
        position: static;
        margin-left: 5%;
        width: 80%;
    }
    .input-email{
        position: static;
        width: 100%;
        margin-left:5%;
    }
    .message_subject{
        position: static;
        margin-left: 5%;
        width: 150%;
    }
    label{
        margin-left: 0;
    }
    .message{
        margin-left: 10px;
        width: 70%;
    }
}

/* телефоны вертикально */
@media (max-width: 480px) {
    .main{
        width: 100%;
        display: flex;
    }
    .name_box{
        width: 100%;
        display: flex;
    }
    .email_box{
        width: 100%;
        display: flex;
    }
    .message_box{
        width: 100%;
        display: flex;
    }
    .input-element{
        position: static;
        margin-left: 5%;
        width: 80%;
    }
    .input-email{
        position: static;
        width: 100%;
        margin-left:5%;
    }
    .message_subject{
        position: static;
        margin-left: 5%;
        width: 150%;
    }
    label{
        margin-left: 0;
    }
    .message{
        margin-left: 10px;
        width: 70%;
    }
}